$blue: #4285F4;
$green: #34A853;
$yellow: #FBBC05;
$red: #EA4335;
$white: #fff;
$hover: #808080;
$titleColor: rgba(0, 0, 0, 0.9);
$textColor: rgba(0, 0, 0, 0.75);
$shadow: 0 3px 9px rgba(0, 0, 0, 0.041),
0 3px 9px rgba(0, 0, 0, 0.23);
